table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {background-color: #f2f2f2;}

 /* Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

#paceChartContainer {
  display: none;
}

#paceDurationChart {
  width: 100%;
  height: 50vh; /* 50% of the viewport height */
}